<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="main">
    <div><%= app.info %></div>
</div>
</body>
</html>
<!--Environment: <%= process.env.NODE_ENV %>-->
